* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

body:before {
  content: "";
  position: fixed;
  background: hsl(49, 100%, 96%);
  left: 0;
  right: 0;
  height: 4px;
}

#parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content {
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  height: 100%;
  padding: 10px;
  background-image: linear-gradient(
    16deg,
    hsl(195, 100%, 95%) calc(50% - 3px),
    hsl(195, 100%, 85%) calc(50% - 1px)
  );
}

/* Main Content */
.welcome-header {
  grid-column-start: 4;
  grid-column-end: span 3;
  max-width: 600px;
}
.welcome-head {
  font-size: 60px;
  font-weight: 500;
}
.welcome-para {
  grid-column-start: 4;
  grid-column-end: span 3;
  grid-row-start: 2;
  margin-left: 100px;
  max-width: 500px;
  padding-right: 20px;
}
.welcome-msg {
  font-size: 16px;
  font-weight: 500;
}

/* Buttons */
.welcome-btns-container {
  margin-top: 90px;
  padding-right: 20px;
  grid-column-start: 5;
  grid-column-end: span 3;
  grid-row-start: 3;
}
button {
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  padding: 15px 30px;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
}
.welcome-btn:focus {
  outline: none;
}
#proj-btn {
  margin-left: -40px;
  margin-right: 30px;
  box-shadow: 0 1px 3px hsl(0, 0%, 0%, 0.2);
  background-color: hsl(201, 79%, 46%);
  color: hsl(201, 42%, 96%);
  border: none;
}
#proj-btn:active {
  box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
}
#proj-btn:hover,
#proj-btn:focus {
  background-color: hsl(201, 79%, 57%);
}
#rd-map-btn {
  margin-top: 20px;
  box-shadow: 0 1px 3px hsl(0, 0%, 0%, 0.2);
  border: 1px solid hsl(201, 79%, 46%);
  background-color: hsla(195, 97%, 75%, 0.205);
  color: hsl(201, 79%, 46%);
}
#rd-map-btn:active {
  box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
}
#rd-map-btn:hover,
#rd-map-btn:focus {
  color: hsl(203, 87%, 34%);
  border: 1px solid hsl(203, 87%, 34%);
  background-color: hsla(195, 97%, 75%, 0.384);
}

/* Form */
.contact-form {
  border-top: 2px solid hsl(195, 97%, 75%);
  grid-column-start: 2;
  grid-row-start: 3;
  box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.2);
  background-color: hsl(0, 0%, 97%);
  height: 440px;
  width: 350px;
  border-radius: 10px;
  padding: 30px;
}
textarea {
  width: 100%;
  margin-bottom: 16px;
  background-color: hsl(0, 0%, 88%);
  border: none;
  border-radius: 3px;
  padding: 5px;
  padding-left: 8px;
  resize: none;
  box-shadow: inset 0 2px 2px hsl(0, 0%, 0%, 0.1),
    0 2px 0 hsl(0, 0%, 100%, 0.15);
}
textarea:focus {
  outline: none;
}
#email,
#subject {
  font-size: 16px;
  height: 30px;
}
#message {
  font-size: 16px;
  height: 240px;
}
#submit-btn {
  position: relative;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsl(201, 79%, 46%);
  width: 350px;
  margin-left: -30px;
  height: 50px;
  left: 0;
  bottom: 0;
  font-weight: 600;
  font-size: 18px;
  color: hsl(201, 42%, 96%);
  outline: none;
  box-shadow: 0 2px 2px hsl(0, 0%, 0%, 0.1);
}
#submit-btn:hover,
#submit-btn:focus {
  background-color: hsl(201, 79%, 57%);
  cursor: pointer;
}
#submit-btn:active {
  box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
}

/* Links */
.links-container {
  margin-left: 180px;
  margin-top: 240px;
  padding-right: 20px;
  grid-column-start: 4;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: span 2;
}
.icon-link {
  margin-left: 10px;
}
.icon-link:first-child {
  margin-left: 0px;
}
.fab {
  background-color: hsl(162, 63%, 41%);
  color: white;
  padding: 16px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
}
.cv-dl {
  background-color: hsl(201, 79%, 46%);
  margin-right: 60px;
  border: none;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
  color: white;
}
.cv-dl:hover,
.cv-dl:focus {
  background-color: hsl(201, 79%, 57%);
  cursor: pointer;
  outline: none;
}
.cv-dl:active {
  box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
}
a {
  text-decoration: none;
}

/* My Journey */
.roadmap-content {
  height: 100%;
  padding: 6px;
  background-image: linear-gradient(
    16deg,
    hsl(195, 100%, 95%) calc(50% - 3px),
    hsl(195, 100%, 85%) calc(50% - 1px)
  );
}

/*
font sizes
12
14
16
18
20
24
30
36
48
60
72
*/
