/*
font sizes
12
14
16
18
20
24
30
36
48
60
72
*/
/* Media Queries */
/* Timeline variables */
/* Timeline card sizing */
/* Colors */
/* Timeline calculations */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: #f7f7f7;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body:before {
  content: "";
  background: #0f6099;
  width: 100%;
  z-index: 10;
  height: 8px;
  position: fixed;
}

.home-container {
  height: 100%;
  padding: 10px;
  background-image: linear-gradient(16deg, #f7f7f7 calc(50% - 3px), #003e6b calc(50% - 2px));
  margin-bottom: 100px;
}

/* Header */
.welcome-head {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  color: whitesmoke;
}

/* Main Content */
.main-container {
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  /* Buttons */
}

.main-container .welcome-msg {
  font-size: 16px;
  font-weight: 500;
  color: whitesmoke;
}

@media (min-width: 1200px) {
  .main-container .welcome-msg {
    margin: auto;
    width: 1000px;
  }
}

.main-container .welcome-btns-container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .welcome-btns-container button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 12px 28px;
  font-size: 18px;
  border-radius: 0px;
}

.main-container .welcome-btns-container button:hover {
  cursor: pointer;
}

.main-container .welcome-btns-container .welcome-btn:focus {
  outline: none;
}

.main-container .welcome-btns-container #proj-btn {
  margin-right: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #c8992d;
  border: 1px solid #c8992d;
  color: white;
}

.main-container .welcome-btns-container #proj-btn:active {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-transition: 0s;
  transition: 0s;
}

.main-container .welcome-btns-container #proj-btn:hover, .main-container .welcome-btns-container #proj-btn:focus {
  border: 1px solid #e9b949;
  background-color: #e9b949;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main-container .welcome-btns-container #rd-map-btn {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #c8992d;
  background-color: #003e6b;
  color: #f7d06e;
}

.main-container .welcome-btns-container #rd-map-btn:active {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-transition: 0s;
  transition: 0s;
}

.main-container .welcome-btns-container #rd-map-btn:hover, .main-container .welcome-btns-container #rd-map-btn:focus {
  background-color: #00508a;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main-container .links-container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .links-container .icon-link {
  margin-left: 40px;
}

.main-container .links-container .icon-link:first-child {
  margin-left: 0px;
}

.main-container .links-container .fa-google-play {
  background-color: #d64343;
}

.main-container .links-container .fa-github {
  background-color: #3b3b3b;
}

.main-container .links-container .fa-linkedin-in {
  background-color: #4299d7;
}

.main-container .links-container .fab {
  color: white;
  padding: 16px;
  border-radius: 40px;
  font-size: 20px;
}

.main-container .links-container .fas {
  margin-right: 10px;
}

.main-container .links-container a {
  text-decoration: none;
}

.main-container .cv-container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .cv-container .cv-dl {
  background-color: #003e6b;
  border: 1px solid #c8992d;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 15px 20px;
  font-size: 20px;
}

.main-container .cv-container .cv-dl:active {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-transition: 0s;
  transition: 0s;
}

.main-container .cv-container .cv-dl:hover, .main-container .cv-container .cv-dl:focus {
  background-color: #00538f;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main-container .skills {
  margin-top: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .skills .tag {
  height: 30px;
  margin: 6px 6px;
  padding: 0 10px 0 10px;
  background-color: #f7f7f7;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 8px grey;
          box-shadow: 0 1px 8px grey;
}

.main-container .skills .tag p {
  color: black;
  font-size: 14px;
}

/* Form */
.contact-form {
  border-left: 4px solid #0f6099;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  height: 446px;
  width: 350px;
  border-radius: 0px;
  padding: 34px 30px;
  margin-top: 100px;
  display: none;
  position: fixed;
  bottom: 23px;
  right: 50px;
  z-index: 9;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 16px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 0px;
  padding: 5px;
  padding-left: 8px;
  resize: none;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.15);
}

.contact-form textarea:focus {
  outline: none;
}

.contact-form #subject {
  margin-top: -4px;
}

.contact-form #email,
.contact-form #subject {
  font-size: 16px;
  height: 30px;
}

.contact-form #message {
  font-size: 16px;
  height: 240px;
}

.contact-form #submit-btn {
  position: relative;
  border: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #003e6b;
  width: 350px;
  margin-left: -30px;
  margin-top: 6px;
  height: 50px;
  left: -4px;
  bottom: 0;
  font-weight: 500;
  font-size: 18px;
  color: white;
  outline: none;
  -webkit-box-shadow: 0 2px 2px rbga(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rbga(0, 0, 0, 0.1);
}

.contact-form #submit-btn:active {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.contact-form #submit-btn:hover, .contact-form #submit-btn:focus {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: #00538f;
  cursor: pointer;
}

.fa-sticky-note {
  font-size: 24px;
}

.open-button {
  background-color: #525252;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 19.5px;
  right: 50px;
  width: 50px;
  z-index: 9;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
}

.open-button:hover, .open-button:active {
  -webkit-transition: 250ms;
  transition: 250ms;
  opacity: 1;
}

.close-button {
  color: #616161;
  background-color: #f7f7f7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: relative;
  float: right;
  margin-top: -46px;
  margin-right: -40px;
  font-size: 20px;
  cursor: pointer;
}

.close-button p {
  color: white;
  margin-top: -2px;
}

/* My Journey */
/* Timeline Animations */
.fade-in {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/* Order the timeline cards */
.demo-card:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.demo-card:nth-child(2) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.demo-card:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.demo-card:nth-child(4) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

/* Position arrow and markers */
@media (min-width: 1200px) {
  .demo-card:nth-child(odd) .head::after, .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .demo-card:nth-child(odd) .head::before, .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #b0b0b0;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 2px 8px #f7f7f7;
            box-shadow: 0px 0px 2px 8px #f7f7f7;
  }
}

.timeline-container {
  padding: 100px 0 10px 0;
  background: #f7f7f7;
}

.timeline-container h1 {
  color: #3b3b3b;
  text-align: center;
  font-size: 48px;
  font-weight: 200;
  margin: 0px 60px 100px 60px;
}

.timeline-container .demo-card-wrapper {
  position: relative;
  margin: auto;
}

@media (min-width: 1200px) {
  .timeline-container .demo-card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 1170px;
    height: 1390px;
    margin: 0 auto;
  }
}

.timeline-container .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1200px) {
  .timeline-container .demo-card-wrapper::after {
    border-left: 1px solid #b0b0b0;
  }
}

.demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 60%;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 2px 8px #f7f7f7;
          box-shadow: 0px 0px 2px 8px #f7f7f7;
}

.demo-card:first-child img {
  border: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 768px) {
  .demo-card {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 400px;
  }
  .demo-card:first-child .body {
    height: 424px;
  }
  .demo-card:last-child {
    margin-bottom: 100px;
  }
  .demo-card:last-child .body {
    height: 390px;
  }
  .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  .demo-card:nth-child(2) {
    margin-top: 470px;
  }
}

.demo-card .head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1870af;
  color: white;
  font-weight: 400;
  height: 70px;
  padding: 0 40px;
}

.demo-card .head h2 {
  text-transform: uppercase;
  font-weight: inherit;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 1.2rem;
}

.demo-card .head span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}

.demo-card .head:after {
  color: #1870af;
}

.demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 5px 15px 15px 15px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .demo-card .body {
    height: 410px;
  }
}

.demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.demo-card .body img {
  display: block;
  width: 100%;
}

/* My Projects */
/* Transitions */
.from-below {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: opacity 400ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 400ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 400ms ease-in, transform 400ms ease-in;
  transition: opacity 400ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-below.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.projects-container {
  padding: 100px 0;
  background: #f7f7f7;
}

.projects-container .proj-card-wrapper {
  height: 100%;
  padding: 100px 51.5px 20px 51.5px;
  max-width: 1400px;
  margin: auto;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .projects-container .proj-card-wrapper {
    margin: 60px auto;
  }
}

.project-card {
  position: relative;
  display: block;
  height: 340px;
  margin: 50px 70px 40px 70px;
  max-width: 1400px;
  width: 1400px;
}

.project-card .img-container {
  position: relative;
  height: 100%;
  float: left;
}

.project-card:nth-child(even) .img-container {
  float: right;
}

.project-card:first-child img {
  position: relative;
  height: 80%;
  margin-left: -14px;
  margin-top: 30px;
}

.project-card.right img {
  height: 100%;
}

.project-card img {
  position: relative;
  height: 100%;
  margin: 0 20px;
  -webkit-filter: drop-shadow(0 5px 5px #616161);
          filter: drop-shadow(0 5px 5px #616161);
}

.project-card .desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 20px 36px;
}

.project-card .desc-container p {
  font-size: 24px;
  color: #525252;
}

.project-card .desc-container .title {
  color: #0a558a;
}

.project-card .desc-container .desc-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.project-card .desc-container .desc-footer a {
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 24px;
  color: #2680c0;
}

.project-card .desc-container .desc-footer a:hover, .project-card .desc-container .desc-footer a:focus {
  color: #64b1e8;
}

.project-card .desc-container .desc-footer a:visited {
  color: #e66b6b;
}

.project-card .desc-container .desc-footer p {
  color: #7d7d7d;
  font-size: 20px;
}

.project-card .desc-container .desc-footer .tech-title {
  font-size: 22px;
  color: #525252;
}

.project-card:nth-child(odd) .desc-container {
  float: right;
}

.project-card hr.solid {
  width: 100%;
  float: left;
  border: none;
  border-bottom: 1px solid #cfcfcf;
}
/*# sourceMappingURL=index.css.map */