/*
font sizes
12
14
16
18
20
24
30
36
48
60
72
*/

/* Media Queries */
@mixin mq-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: 1200px) {
    @content;
  }
}

/* Timeline variables */
$background: #f7f7f7;
$box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
$border: 1px solid rgba(191, 191, 191, 0.4);
$items: 5;
$rows: ceil($items/2);

/* Timeline card sizing */
$card-height: 400px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 9px;

/* Colors */
$steps: #46b8e9;
$colors: #46b8e9, #3ee9d1, #ce43eb, #4d92eb;
$timeline: #bdbdbd;

/* Timeline calculations */
$container-height: $rows * ($card-height + $outer-margin) + $stagger;
$container-width: $card-width * 2 + $outer-margin * 3;
$head-height: $number-size + 50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width + $outer-margin/2 - $marker-size/2;

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: hsl(0, 0%, 97%);
  scroll-behavior: smooth;
}

body:before {
  content: "";
  background: hsl(205, 82%, 33%);
  width: 100%;
  z-index: 10;
  height: 8px;
  position: fixed;
}

.home-content {
  height: 100%;
  padding: 10px;
  background-image: linear-gradient(
    16deg,
    hsl(0, 0%, 97%) calc(50% - 3px),
    hsl(205, 100%, 21%) calc(50% - 2px)
  );
}

/* Header */
.welcome-head {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  color: hsl(205, 2%, 96%);
}
/* Main Content */
.main-content {
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  @include mq-md {
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  @include mq-lg {
    margin: auto;
    padding-left: 300px;
    padding-right: 300px;
  }
  .welcome-msg {
    font-size: 16px;
    font-weight: 500;
    color: hsl(205, 2%, 96%);
  }

  /* Buttons */
  .welcome-btns-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-weight: 500;
      padding: 12px 28px;
      font-size: 18px;
      border-radius: 0px;
      &:hover {
        cursor: pointer;
      }
    }
    .welcome-btn:focus {
      outline: none;
    }
    #proj-btn {
      margin-right: 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      background-color: hsl(42, 63%, 48%);
      border: 1px solid hsl(42, 63%, 48%);
      color: white;
      &:active {
        box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
        transition: 0s;
      }
      &:hover,
      &:focus {
        border: 1px solid hsl(42, 78%, 60%);
        background-color: hsl(42, 78%, 60%);
        transition: 0.4s;
      }
    }
    #rd-map-btn {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      border: 1px solid hsl(42, 63%, 48%);
      background-color: hsl(205, 100%, 21%);
      color: hsl(43, 89%, 70%);
      &:active {
        box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
        transition: 0s;
      }
      &:hover,
      &:focus {
        background-color: hsl(205, 100%, 27%);
        transition: 0.4s;
      }
    }
  }
}

/* Form */
.contact-form {
  border-top: 4px solid hsl(205, 82%, 33%);
  grid-column-start: 2;
  grid-row-start: 3;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 97%);
  height: 446px;
  width: 350px;
  border-radius: 0px;
  padding: 30px;
  margin-top: 100px;
  textarea {
    width: 100%;
    margin-bottom: 16px;
    background-color: hsl(0, 0%, 88%);
    border: none;
    border-radius: 0px;
    padding: 5px;
    padding-left: 8px;
    resize: none;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.15);
    &:focus {
      outline: none;
    }
  }
  #subject {
    margin-top: -4px;
  }
  #email,
  #subject {
    font-size: 16px;
    height: 30px;
  }
  #message {
    font-size: 16px;
    height: 240px;
  }
  #submit-btn {
    position: relative;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: hsl(205, 100%, 21%);
    width: 350px;
    margin-left: -30px;
    margin-top: 6px;
    height: 50px;
    left: 0;
    bottom: 0;
    font-weight: 500;
    font-size: 18px;
    color: white;
    outline: none;
    box-shadow: 0 2px 2px rbga(0, 0, 0, 0.1);
    &:active {
      box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
    }
    &:hover,
    &:focus {
      transition: 0.4s;
      background-color: hsl(205, 100%, 28%);
      cursor: pointer;
    }
  }
}

/* Links */
.links-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  .icon-link {
    margin-left: 40px;
    &:first-child {
      margin-left: 0px;
    }
  }
  .fa-google-play {
    background-color: hsl(360, 64%, 55%);
  }
  .fa-github {
    background-color: hsl(0, 0%, 23%);
  }
  .fa-linkedin-in {
    background-color: hsl(205, 65%, 55%);
  }
  .fab {
    color: white;
    padding: 16px;
    border-radius: 40px;
    font-size: 20px;
  }
  .fas {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
  }
}

/* CV */
.cv-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  .cv-dl {
    background-color: hsl(205, 100%, 21%);
    border: 1px solid hsl(42, 63%, 48%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    padding: 15px 20px;
    font-size: 20px;
    &:active {
      box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
      transition: 0s;
    }
    &:hover,
    &:focus {
      background-color: hsl(205, 100%, 28%);
      cursor: pointer;
      outline: none;
      transition: 0.4s;
    }
  }
}

/* My Journey */
/* Order the timeline cards */
$counter: $items - $rows + 2;
@for $i from 1 through $rows {
  .demo-card:nth-child(#{$i*2-1}) {
    order: $i;
  }
  .demo-card:nth-child(#{$i*2}) {
    order: $counter;
  }
  $counter: $counter + 1;
}

/* Position arrow and markers */
@include mq-lg {
  %arrow {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  %marker {
    position: absolute;
    content: "";
    width: $marker-size;
    height: $marker-size;
    background-color: $timeline;
    border-radius: $marker-size;
    box-shadow: 0px 0px 2px 8px $background;
  }
}

.timeline-content {
  padding: 100px 0;
  background: hsl(0, 0%, 97%);
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
  }
  p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  .demo-card-wrapper {
    position: relative;
    margin: auto;
    @include mq-lg {
      display: flex;
      flex-flow: column wrap;
      width: $container-width;
      height: $container-height;
      margin: 0 auto;
    }
    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid rgba(191, 191, 191, 0.4);
      @include mq-lg {
        border-left: 1px solid $timeline;
      }
    }
  }
}
.demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 60%;
  z-index: 2;
  box-shadow: 0px 0px 2px 8px #f7f7f7;
  @include mq-md {
    max-width: 40%;
  }
  @include mq-lg {
    max-width: $card-width;
    height: $card-height;
    margin: $outer-margin;
    margin-top: $outer-margin/2;
    margin-bottom: $outer-margin/2;
    &:nth-child(odd) {
      margin-right: $outer-margin/2;
      .head::after {
        @extend %arrow;
        border-left-width: 15px;
        border-left-style: solid;
        left: 100%;
      }
      .head::before {
        @extend %marker;
        left: $marker-dist + 1;
      }
    }
    &:nth-child(even) {
      margin-left: $outer-margin/2;
      .head::after {
        @extend %arrow;
        border-right-width: 15px;
        border-right-style: solid;
        right: 100%;
      }
      .head::before {
        @extend %marker;
        right: $marker-dist - 1;
      }
    }
    &:nth-child(2) {
      margin-top: $stagger;
    }
  }
  .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    .number-box {
      display: inline;
      margin: 15px;
      padding: 10px;
      font-size: 35px;
      line-height: 35px;
      font-weight: 600;
      background: rgba(0, 0, 0, 0.17);
    }
    h2 {
      text-transform: uppercase;
      font-weight: inherit;
      letter-spacing: 2px;
      margin: 0;
      padding-bottom: 6px;
      font-size: 165%;
      line-height: 1.2rem;
      span {
        display: block;
        font-size: 0.6rem;
        margin: 0;
      }
    }
  }
  .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
    @include mq-lg {
      height: $body-height;
    }
    p {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  @for $i from 1 through $items {
    &--step#{$i} {
      $color: nth($colors, ((($i - 1) % 4) + 1));
      background-color: $color;
      .head::after {
        border-color: $color;
      }
    }
  }
}
