* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

body:before {
  content: "";
  position: fixed;
  background: hsl(49, 100%, 96%);
  left: 0;
  right: 0;
  height: 4px;
}

#parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content {
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  height: 100%;
  padding: 10px;
  background-image: linear-gradient(
    16deg,
    hsl(195, 100%, 95%) calc(50% - 3px),
    hsl(195, 100%, 85%) calc(50% - 1px)
  );
}

.welcome-header {
  grid-column-start: 4;
  grid-column-end: span 3;
  max-width: 600px;
}
.welcome-head {
  font-size: 60px;
  font-weight: 500;
}
.welcome-para {
  grid-column-start: 4;
  grid-column-end: span 3;
  grid-row-start: 2;
  margin-left: 100px;
  max-width: 500px;
  padding-right: 20px;
}
.welcome-msg {
  font-size: 16px;
  font-weight: 500;
}

.welcome-btns-container {
  grid-column-start: 5;
  grid-column-end: span 2;
  grid-row-start: 4;
}
button {
  border-radius: 10px;
  box-shadow: inset 0 1px 2px hsl(168, 80%, 42%), 0 1px 3px hsla(0, 0%, 0%, 0.2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  padding: 15px 30px;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
}
button:active {
  box-shadow: 0 0px 0px hsla(0, 0%, 0%, 0);
}
.welcome-btn:focus {
  outline: none;
}
#proj-btn {
  background-color: hsl(352, 90%, 35%);
  color: hsl(164, 94%, 95%);
  border: none;
}
#proj-btn:hover {
  background-color: hsl(162, 63%, 41%);
  color: hsl(164, 94%, 98%);
}
#proj-btn:focus {
  background-color: hsl(162, 63%, 41%);
  color: hsl(164, 94%, 98%);
}
#rd-map-btn {
  border: 1px solid hsl(164, 71%, 34%);
  background-color: hsla(150, 70%, 96%, 0);
  color: hsl(164, 71%, 34%);
}
#rd-map-btn:hover {
  background-color: hsla(164, 71%, 34%, 0.089);
  color: hsl(164, 57%, 34%);
}
#rd-map-btn:focus {
  background-color: hsla(164, 71%, 34%, 0.089);
  border: 1px solid hsl(164, 71%, 34%);
  color: hsl(164, 57%, 34%);
}

/* Form */
.contact-form {
  border-top: 2px solid hsl(195, 97%, 75%);
  grid-column-start: 2;
  grid-row-start: 3;
  box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.2);
  background-color: hsl(0, 0%, 97%);
  height: 440px;
  width: 350px;
  border-radius: 10px;
  padding: 30px;
}
textarea {
  width: 100%;
  margin-bottom: 16px;
  background-color: hsl(0, 0%, 88%);
  border: none;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  box-shadow: inset 0 2px 2px hsl(0, 0%, 0%, 0.1),
    0 2px 0 hsl(0, 0%, 100%, 0.15);
}
textarea:focus {
  outline: none;
}
#email,
#subject {
  font-size: 16px;
  height: 30px;
}
#message {
  font-size: 16px;
  height: 240px;
}
#submit-btn {
  position: relative;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsl(168, 80%, 23%);
  width: 350px;
  margin-left: -30px;
  height: 50px;
  left: 0;
  bottom: 0;
  font-weight: 600;
  font-size: 18px;
  color: hsl(168, 12%, 94%);
  outline: none;
  box-shadow: inset 0 1px 2px hsl(168, 80%, 42%), 0 2px 2px hsl(0, 0%, 0%, 0.1);
}
#submit-btn:hover,
#submit-btn:focus {
  background-color: hsl(166, 72%, 28%);
  color: hsl(166, 22%, 89%);
  cursor: pointer;
}
#submit-btn:active {
  background-color: hsl(168, 80%, 23%);
  color: hsl(168, 22%, 89%);
  box-shadow: inset 0 0px 0px hsl(168, 80%, 42%), 0 2px 2px hsl(0, 0%, 0%, 0.1);
}

/* My Journey */
.roadmap-content {
  height: 100%;
  padding: 6px;
  background-image: linear-gradient(
    16deg,
    hsl(195, 100%, 95%) calc(50% - 3px),
    hsl(195, 100%, 85%) calc(50% - 1px)
  );
}

/*
font sizes
12
14
16
18
20
24
30
36
48
60
72
*/
